p{
 text-transform: lowewrcase;
 text-align: center;
 background-color: yellow;
 color: red;


}
h6{
    text-transform: lowercase;
    text-align: center;
    background: aqua;
    color: red;
    
}